<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'custom.css' %}" />
  <link rel="icon" href="{% static 'icon.ico' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" />
  <title>Sport Gear Hub - {{ title }}</title>
</head>

<body>
  <div id="preloader">
    <div class="loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <header>
    <div class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <a href="{% url 'index' %}" class="logo">
      <img src="{% static 'logo/logo-black.png' %}" alt="SportGearHub" /></a>
    <div class="nav-contain">
      <form class="search" action="{% url 'search' %}">
        <input class="search-field" type="text" placeholder="Поиск" name="query"/>
        <button class="search-button" type="submit"></button>
      </form>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li><a href="{% url 'catalog' %}">Каталог</a></li>
          <li><a href="{% url 'aboutus' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="burger-menu">
    <div class="burger-contain">
      <div class="burger-box">
        <ul>
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li><a href="{% url 'catalog' %}">Каталог</a></li>
          <li><a href="{% url 'aboutus' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
          <li><a href="{% url 'index' %}#objects">Объекты</a></li>
          <li><a href="{% url 'index' %}#manufacturers">Производители</a></li>
          <li><a href="{% url 'help' %}">Помощь</a></li>
        </ul>
      </div>
      <div class="burger-box">
        <div class="contacts-block">
          <h3>Наши контакты:</h3>
          <img src="{% static 'img/telephone.png' %}" alt="Телефон"><span><strong>Телефон:</strong> 8 (835)
            362-14-21</span><br>
          <img src="{% static 'img/mail.png' %}" alt="Почта"><span><strong>E-mail:</strong>
            shum-politeh@rchuv.ru</span><br>
          <img src="{% static 'img/location.png' %}" alt="Адрес"><span><strong>Адрес:</strong> 429120,
            Чувашская Республика
            г. Шумерля ул. Некрасова 62</span><br>
        </div>
        <div class="contacts-button"><a class="contacts-button" href="#" id="openModal">Консультация</a></div>
      </div>
    </div>
  </div>
  <main>
    <div id="modal" class="modal">
      <div class="forma">
        <h2>Окно связи<span class="close">&times;</span></h2>
        <form id="feedback-form" method="POST">
          {% csrf_token %}
          <div class="form-column">
            <label for="feed">Тип обращения*</label>
            <select id="feed" name="feed">
              <option value="1">Вопрос</option>
              <option value="2">Консультация</option>
              <option value="3">Заказ</option>
              <option value="4">Отзыв</option>
            </select>
          </div>
          <div class="form-column">
            <p>{% if success %}
            <p>{{ message }}</p>
            {% endif %}</p>
          </div>
          <div class="form-column">
            <label for="firstName">Имя*</label>
            <input placeholder="Введите имя" type="text" id="firstName" name="firstName" required />
          </div>
          <div class="form-column">
            <label for="lastName">Фамилия</label>
            <input placeholder="Введите фамилию" type="text" id="lastName" name="lastName" />
          </div>
          <div class="form-column">
            <label for="email">Почта*</label>
            <input placeholder="Введите E-mail" type="email" id="email" name="email" required />
          </div>
          <div class="form-column">
            <label for="phone">Телефон</label>
            <input placeholder="Введите номер телефона" type="tel" id="phone" name="phone" />
          </div>
          <div class="form-column">
            <label for="message">Сообщение*</label>
            <textarea placeholder="Текст" id="message" name="message" required></textarea>
          </div>
          <div class="form-row">
            <input type="checkbox" id="agreement" name="agreement" required />
            <label for="agreement">Я прочитал и принимаю пользовательское соглашение</label>
          </div>
          <div class="form-row">
            <button type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
    <div class=" mapbar">
      <section aria-labelledby="catalog-section-title">
        <h2 id="catalog-section-title">{{ title }}</h2>
        <p><a href="{% url 'index' %}">Главная</a> - <a href="{% url 'privacy' %}">{{ title }}</a></p>
      </section>
    </div>
    <div class="privacy">
      <h1>Политика конфиденциальности</h1>
      <p>Последнее обновление: 02 мая 2023 г.</p>
      <p>Настоящая Политика конфиденциальности описывает нашу политику и процедуры в отношении сбора, использования и
        раскрытия Вашей информации.
        информация, когда Вы пользуетесь Сервисом, и рассказывает Вам о Ваших правах на неприкосновенность частной жизни
        и о том, как закон защищает Вас.</p>
      <p>Мы используем Ваши персональные данные для предоставления и улучшения Сервиса. Используя Сервис, Вы
        соглашаетесь на
        сбор
        и использование информации в соответствии с настоящей Политикой конфиденциальности. Настоящая Политика
        конфиденциальности была создана с
        помощью
        из <a href="http://www.freeprivacypolicy.com/free-privacy-policy-generator /"
          target="_blank">freeprivacypolicy.com</a>.</p>
      <h1>Интерпретация и Определения</h1>
      <h2>Интерпретация</h2>
      <p>Слова, в которых начальная буква пишется с заглавной буквы, имеют значения, определенные при соблюдении
        следующих условий.
        Приведенные
        ниже определения должны иметь одинаковое значение независимо от того, употребляются ли они в единственном или
        множественном числе.
      </p>
      <h2>Определение</h2>
      <p>Для целей настоящей Политики конфиденциальности:</p>
      <ul>
        <li>
          <p><strong>Аккаунт</strong> означает уникальную учетную запись, созданную для Вас для доступа к нашему сервису
            или частям нашего
            Услуга.</p>
        </li>
        <li>
          <p><strong>Аффилированное лицо</strong> означает организацию, которая контролирует, находится под контролем
            или находится под общим контролем
            с

            сторона, где "контроль" означает владение 50% или более акций, долей участия в уставном капитале или другими
            ценные бумаги, имеющие право голоса при избрании директоров или другого органа управления.</p>
        </li>
        <li>
          <p><strong>Компания</strong> (именуемая либо "Компания", "Мы", "Нас";
            или
            "Наш" в настоящем Соглашении) относится к Sport Gear Hub.</p>
        </li>
        <li>
          <p><strong>Файлы cookie</strong> - это небольшие файлы, которые размещаются на Вашем компьютере, мобильном
            устройстве или любом другом
            устройство
            веб-сайтом, содержащим подробную информацию об истории ваших посещений этого веб-сайта среди множества его
            применений.</p>
        </li>
        <li>
          <p><strong>Страна, к которой относится</strong>: Россия</p>
        </li>
        <li>
          <p><strong>Устройство</strong> означает любое устройство, которое может получить доступ к сервису, например
            компьютер, мобильный телефон или
            цифровой планшет.</p>
        </li>
        <li>
          <p><strong>Персональные данные</strong> - это любая информация, которая относится к идентифицированному или
            идентифицируемому
            индивидуальный.
          </p>
        </li>
        <li>
          <p><strong>Сервис</strong> относится к веб-сайту.</p>
        </li>
        <li>
          <p><strong>Поставщик услуг</strong> означает любое физическое или юридическое лицо, которое обрабатывает
            данные от имени

            Компании. Это относится к сторонним компаниям или частным лицам, нанятым Компанией для содействия
            Услуга,
            предоставлять Услугу от имени Компании, выполнять услуги, связанные с Сервисом, или оказывать помощь

            Компании при анализе того, как используется Сервис.</p>
        </li>
        <li>
          <p><strong>Данные об использовании</strong> относятся к данным, собираемым автоматически, либо генерируемым в
            результате использования
            Сервиса, либо из самой инфраструктуры сервиса (например, продолжительность посещения страницы).</p>
        </li>
        <li>
          <p><strong>Веб-сайт</strong> ссылается на Sport Gear Hub, доступный с <a href="http://www.sportgearhub.com "
              rel="внешний nofollow noopener" target="_blank">http://www.sportgearhub.com </a>.</p>
        </li>
        <li>
          <p><strong>Вы</strong> означает физическое лицо, получающее доступ к Сервису или использующее его, или
            компанию, или другое юридическое лицо
            организация, от имени которой такое физическое лицо получает доступ к Сервису или использует его, в
            зависимости от обстоятельств.</p>
        </li>
      </ul>
      <h1>Сбор и использование Ваших персональных данных</h1>
      <h2>Типы собираемых данных</h2>
      <h3>Персональные данные</h3>
      <p> При использовании нашего сервиса мы можем попросить Вас предоставить нам определенную личную информацию,
        которая
        может
        быть использована для связи с Вами или идентификации Вашей личности. Личная информация, позволяющая установить
        личность, может включать, но не ограничивается этим:
      </p>
      <ul>
        <li>
          <p>Адрес электронной почты</p>
        </li>
        <li>
          <p>Имя и фамилия</p>
        </li>
        <li>
          <p>Номер телефона</p>
        </li>
        <li>
          <p>Данные об использовании</p>
        </li>
      </ul>
      <h3>Данные об использовании</h3>
      <p>Данные об использовании собираются автоматически при использовании Сервиса.</p>
      <p> Данные об использовании могут включать в себя такую информацию, как адрес интернет-протокола вашего
        устройства (например, IP-адрес),
        браузер
        тип, версия браузера, страницы нашего сервиса, которые Вы посещаете, время и дата Вашего посещения, время
        потраченный
        на
        этих страницах указаны уникальные идентификаторы устройств и другие диагностические данные.</p>
      <p>Когда Вы получаете доступ к Сервису с помощью мобильного устройства или через него, мы можем собирать
        определенную информацию
        автоматически,
        включая, но не ограничиваясь этим, тип используемого вами мобильного устройства, уникальный идентификатор
        вашего мобильного устройства, IP-адрес
        адрес

        Вашего мобильного устройства, Вашей мобильной операционной системы, типа используемого вами мобильного
        интернет-браузера, уникального
        устройство
        идентификаторы и другие диагностические данные.</p>
      <p>Мы также можем собирать информацию, которую Ваш браузер отправляет всякий раз, когда Вы посещаете наш
        сервис или когда Вы получаете доступ

        услуга с помощью мобильного устройства или через него.</p>
      <h3>Технологии отслеживания и файлы cookie</h3>
      <p>Мы используем файлы cookie и аналогичные технологии отслеживания для отслеживания активности на нашем
        сервисе и хранения определенных
        информация. Используемые технологии отслеживания - это маяки, теги и скрипты для сбора и отслеживания
        информации
        а также для
        улучшения и анализа нашего сервиса. Технологии, которые мы используем, могут включать:</p>
      <ul>
        <li><strong>Файлы cookie или файлы cookie браузера.</strong> Файл cookie - это небольшой файл, размещенный
          на Вашем устройстве. Вы можете
          проинструктировать
          Ваш браузер должен отказаться от всех файлов cookie или указать, когда отправляется файл cookie. Однако,
          если Вы этого не сделаете
          принимать
          Из-за файлов cookie вы, возможно, не сможете использовать некоторые части нашего сервиса. Если только вы
          не настроили свой браузер
          установка

          чтобы отказаться от использования файлов cookie, наш сервис может использовать файлы cookie.</li>
        <li><strong>Веб-маяки.</strong> Некоторые разделы нашего сервиса и наши электронные письма могут содержать
          небольшие
          электронный
          файлы, известные как веб-маяки (также называемые прозрачными gif-файлами, пиксельными тегами и
          однопиксельными gif-файлами), которые
          позволяют

          Компании, например, для подсчета пользователей, которые посетили эти страницы или открыли электронное
          письмо, и для других целей
          связанный
          статистика веб-сайта (например, регистрация популярности определенного раздела и проверка системы и
          сервера
          целостность).</li>
      </ul>
      <p>Файлы cookie могут быть "постоянными" или "сессионными" файлами cookie. Постоянные файлы cookie остаются
        на Вашем компьютере
        личный
        компьютер или мобильное устройство, когда Вы переходите в автономный режим, в то время как сессионные
        файлы cookie удаляются, как только Вы закрываете свой
        сеть
        браузер. Узнайте больше о файлах cookie на странице <a
          href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking"
          target="_blank">freeprivacypolicy.com</a>.</p>
      <p>Мы используем как сессионные, так и постоянные файлы cookie для целей, изложенных ниже:</p>
      <ul>
        <li>
          <p><strong>Необходимые / незаменимые файлы cookie</strong></p>
          <p>Тип: Сессионные файлы cookie</p>
          <p>Администрируется: Нами</p>
          <p>Назначение: Эти файлы cookie необходимы для предоставления Вам услуг, доступных через веб-сайт, и

            для того, чтобы
            Вы можете использовать некоторые из его функций. Они помогают аутентифицировать пользователей и
            предотвращать мошенническое использование пользовательских данных
            счета.
            Без этих файлов cookie услуги, о которых Вы просили, не могут быть предоставлены, и мы используем
            только эти файлы
            Печенье
            чтобы предоставить Вам эти услуги.</p>
        </li>
        <li>
          <p><strong>Политика использования файлов cookie / Уведомление о принятии файлов cookie</strong></p>
          <p>Тип: Постоянные файлы cookie</p>
          <p>Администрируется: Нами</p>
          <p>Назначение: Эти файлы cookie определяют, согласились ли пользователи с использованием файлов cookie
            на веб-сайте.</p>
        </li>
        <li>
          <p><strong>Функциональные файлы cookie</strong></p>
          <p>Тип: Постоянные файлы cookie</p>
          <p>Администрируется: Нами</p>
          <p>Назначение: Эти файлы cookie позволяют нам запоминать решения, которые Вы делаете при использовании
            веб-сайта, такие как
            запоминание
            ваши данные для входа в систему или языковые предпочтения. Цель этих файлов cookie - предоставить Вам
            более
            личный
            опыта и чтобы Вам не приходилось повторно вводить свои предпочтения каждый раз, когда Вы пользуетесь
            веб-сайтом.</p>
        </li>
      </ul>
      <p> Для получения дополнительной информации об используемых нами файлах cookie и о вашем выборе в
        отношении файлов cookie, пожалуйста, посетите наш сайт.
        Печенье
        Политика
        или раздел "Файлы cookie" нашей Политики конфиденциальности.</p>
      <h2>Использование Ваших персональных данных</h2>
      <p>Компания может использовать Персональные данные в следующих целях:</p>
      <ul>
        <li>
          <p><strong>Предоставлять и поддерживать наш сервис</strong>, в том числе отслеживать использование
            нашего
            Услуга.
          </p>
        </li>
        <li>
          <p><strong>Для управления вашей учетной записью:</strong> для управления вашей регистрацией в качестве
            пользователя Сервиса. Личный

            Предоставленные Вами данные могут предоставить Вам доступ к различным функциональным возможностям
            Сервиса, которые доступны
            к
            Тебе
            как
            зарегистрированный пользователь.</p>
        </li>
        <li>
          <p><strong>Для исполнения контракта:</strong> разработка, соблюдение и принятие на себя обязательств
            по
            договору купли-продажи приобретенных Вами продуктов, предметов или услуг или по любому другому
            контракту
            с
            Нам
            через сервис.</p>
        </li>
        <li>
          <p><strong>Связаться с вами:</strong> Связаться с Вами по электронной почте, телефонным звонкам, SMS
            или другим эквивалентным средствам
            формы

            электронных средств связи, таких как push-уведомления мобильного приложения об обновлениях или
            информативный
            сообщения, связанные с функциональными возможностями, продуктами или услугами по контракту, включая
            безопасность
            обновления, когда это необходимо или разумно для их внедрения.</p>
        </li>
        <li>
          <p><strong>Предоставлять Вам</strong> новости, специальные предложения и общую информацию о других
            товары,
            услуги
            и мероприятия, которые мы предлагаем, аналогичные тем, которые вы уже приобрели или запросили
            примерно
            , если только
            Вы решили не получать такую информацию.</p>
        </li>
        <li>
          <p><strong>Для управления вашими запросами:</strong> Для участия в ваших запросах к нам и управления
            ими.</p>
        </li>
        <li>
          <p><strong>Для деловых переводов:</strong> Мы можем использовать Вашу информацию для оценки или
            проведения
            слияние,
            отчуждение, реструктуризация, перегруппировка, роспуск или иная продажа или передача части или всех
            наших
            активы, будь то в качестве действующего предприятия или в рамках процедуры банкротства, ликвидации
            или аналогичного разбирательства, в
            ходе которого
            Хранящиеся у нас персональные данные о пользователях нашего сервиса входят в число передаваемых
            активов.</p>
        </li>
        <li>
          <p><strong>Для других целей</strong>: Мы можем использовать Вашу информацию для других целей, таких
            как данные
            анализ,
            выявление тенденций использования, определение эффективности наших рекламных кампаний и оценка
            и
            улучшайте наш сервис, продукты, сервисы, маркетинг и ваш опыт.</p>
        </li>
      </ul>
      <p>Мы можем передавать Вашу личную информацию в следующих ситуациях:</p>
      <ul>
        <li><strong>С поставщиками услуг:</strong> Мы можем передавать Вашу личную информацию сервису
          Поставщики услуг
          чтобы
          отслеживать и анализировать использование нашего сервиса, связаться с Вами.</li>
        <li><strong>Для деловых переводов:</strong> Мы можем делиться или передавать Вашу личную информацию в
          соединение
          с или во время переговоров о любом слиянии, продаже активов компании, финансировании или
          приобретении
          всех
          или

          часть нашего бизнеса другой компании.</li>
        <li><strong>С аффилированными лицами:</strong> Мы можем передавать вашу информацию нашим
          аффилированным лицам, в этом случае
          мы будем
          требуйте от этих аффилированных лиц соблюдения настоящей Политики конфиденциальности. Аффилированные
          лица включают нашу материнскую компанию и любые
          другие
          дочерние компании, партнеры по совместным предприятиям или другие компании, которые мы контролируем
          или которые находятся под общим
          контроль
          с
          Мы.</li>
        <li><strong>С деловыми партнерами:</strong> Мы можем делиться вашей информацией с нашими деловыми
          партнерами
          предлагать
          Вы
          определенные продукты, услуги или рекламные акции.</li>
        <li><strong>С другими пользователями:</strong> когда Вы делитесь личной информацией или иным образом
          взаимодействуете в
          в
          общественных
          зонах с другими пользователями такая информация может быть просмотрена всеми пользователями и может
          быть публично распространена
          снаружи.
        </li>
        <li><strong>С Вашего согласия</strong>: Мы можем раскрывать Вашу личную информацию для любых других
          целей.
          цель
          с
          Ваш
          согласие.</li>
      </ul>
      <h2>Хранение Ваших персональных данных</h2>
      <p> Компания будет хранить Ваши персональные данные только до тех пор, пока это необходимо для
        изложенных целей
        в этом
        политика конфиденциальности. Мы будем сохранять и использовать Ваши персональные данные в объеме,
        необходимом для соблюдения наших
        законный
        обязательства (например, если мы обязаны сохранять ваши данные в соответствии с применимым
        законодательством),
        разрешите
        споры и обеспечение соблюдения наших юридических соглашений и политики.</p>
      <p>Компания также сохранит данные об использовании для целей внутреннего анализа. Данные об
        использовании, как правило,
        сохраненный
        для
        более
        короткий период времени, за исключением случаев, когда эти данные используются для усиления
        безопасности или улучшения
        функциональности
        нашего сервиса, или мы по закону обязаны хранить эти данные в течение более длительного периода
        времени.</p>
      <h2>Передача Ваших персональных данных</h2>
      <p>Ваша информация, включая персональные данные, обрабатывается в операционных офисах Компании и в
        любых
        других
        места, где находятся стороны, участвующие в обработке. Это означает, что эта информация может быть
        передана
        к компьютерам, расположенным за пределами Вашего штата, провинции, страны или другого места, и
        обслуживаемым на них
        правительственный
        юрисдикция, где законы о защите данных могут отличаться от законов Вашей юрисдикции.</p>
      <p> Ваше согласие с настоящей Политикой конфиденциальности, за которым следует предоставление Вами
        такой информации, представляет собой Ваше
        соглашение
        к
        этому переводу.</p>
      <p> Компания предпримет все разумно необходимые шаги для обеспечения того, чтобы Ваши данные
        обрабатывались безопасно и
        в
        соответствии с настоящей Политикой конфиденциальности, и никакая передача Ваших персональных данных
        какой-либо организации осуществляться не будет
        или
        какой-нибудь
        стране, если не будут приняты надлежащие меры контроля, включая безопасность ваших данных и другие
        личный
        информация.</p>
      <h2>Удалите Ваши персональные данные</h2>
      <p>Вы имеете право удалить или запросить, чтобы мы оказали содействие в удалении имеющихся у нас
        персональных данных
        собранный
        о
        тебе.</p>
      <p> Наш сервис может предоставить Вам возможность удалить определенную информацию о Вас из Сервиса.
      </p>
      <p>Вы можете обновить, изменить или удалить свою информацию в любое время, войдя в свою учетную
        запись, если вы
        иметь
        один
        из них и
        посещение раздела настроек учетной записи, который позволяет вам управлять своей личной
        информацией. Вы можете
        также
        обращайтесь
        Мы
        можем запросить доступ, исправить или удалить любую личную информацию, которую Вы нам
        предоставили.</p>
      <p>Однако, пожалуйста, обратите внимание, что нам может потребоваться сохранить определенную
        информацию, когда у нас возникнут юридические обязательства
        или
        законный
        основание для этого.</p>
      <h2>Раскрытие Ваших персональных данных</h2>
      <h3>Деловые операции</h3>
      <p> Если Компания участвует в слиянии, приобретении или продаже активов, Ваши персональные данные
        могут быть
        переданы.
        Мы будем
        предоставьте уведомление до того, как Ваши персональные данные будут переданы и на них будет
        распространяться другой режим конфиденциальности
        Политика.
      </p>
      <h3>Правоохранительные органы</h3>
      <p>При определенных обстоятельствах Компания может быть обязана раскрыть Ваши персональные данные,
        если
        потребуется

        делать
        это
        по
        закону или в ответ на обоснованные запросы государственных органов (например, суда или правительства
        агентство).</p>
      <h3>Другие требования законодательства</h3>
      <p> Компания может раскрыть Ваши персональные данные, добросовестно полагая, что такое действие
        является
        необходимый
        к:
      </p>
      <ul>
        <li>Соблюдать юридические обязательства</li>
        <li>Защищать права или собственность Компании</li>
        <li>Предотвращать или расследовать возможные правонарушения в связи с Сервисом</li>
        <li>Защищать личную безопасность пользователей Сервиса или общественности</li>
        <li>Защита от юридической ответственности</li>
      </ul>
      <h2>Безопасность Ваших персональных данных</h2>
      <p> Безопасность Ваших персональных данных важна для нас, но помните, что ни один способ
        передачи
        над

        Интернет или способ электронного хранения данных на 100% безопасен. В то время как мы
        стремимся использовать в коммерческих целях
        приемлемый
        означает
        чтобы
        защитить Ваши персональные данные, мы не можем гарантировать их абсолютную безопасность.</p>
      <h1>Конфиденциальность детей</h1>
      <p>Наш сервис не предназначен для лиц младше 13 лет. Мы сознательно не собираем личную
        информацию
        идентифицируемый
        информация от любого лица, не достигшего 13-летнего возраста. Если Вы являетесь родителем или
        опекуном и Вам известно
        что
        Твой
        ребенок

        предоставил нам персональные данные, пожалуйста, свяжитесь с нами. Если нам станет известно,
        что мы собрали
        Личный
        Данные
        от
        любого пользователя младше 13 лет без подтверждения согласия родителей мы принимаем меры для
        удаления
        эта
        информация
        от
        Наши серверы.</p>
      <p>Если нам нужно полагаться на согласие в качестве юридического основания для обработки Вашей
        информации и Вашей страны
        требует
        согласие
        от родителя мы можем потребовать согласия вашего родителя, прежде чем собирать и использовать
        эту информацию.
      </p>
      <h1>Ссылки на другие веб-сайты</h1>
      <p>Наш сервис может содержать ссылки на другие веб-сайты, которые не управляются нами. Если
        вы нажмете на
        третий
        вечеринка
        перейдя по ссылке,
        вы будете перенаправлены на сайт этой третьей стороны. Мы настоятельно рекомендуем Вам
        ознакомиться с Политикой конфиденциальности
        Политика
        из
        каждого
        сайт
        Вы приходите.</p>
      <p>Мы не контролируем и не несем никакой ответственности за содержание, политику
        конфиденциальности или
        практика

        любого
        третьего
        сторонние сайты или сервисы.</p>
      <h1>Изменения в настоящей Политике конфиденциальности</h1>
      <p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы уведомим Вас о
        любых изменениях,
        опубликовав
        новую
        политику конфиденциальности
        Политика на этой странице.</p>
      <p> Мы сообщим Вам об этом по электронной почте и / или разместим заметное уведомление на
        нашем сервисе до внесения изменений
        становящийся
        эффективный
        и обновите дату "Последнего обновления" в верхней части этой Политики конфиденциальности.
      </p>
      <p>Рекомендуется периодически просматривать настоящую Политику конфиденциальности на предмет
        любых изменений. Изменения в этом
        Конфиденциальность
        Политика
        вступают в
        силу, когда они размещены на этой странице.</p>
      <h1>Свяжитесь с нами</h1>
      <p>Если у вас есть какие-либо вопросы по поводу данной Политики конфиденциальности, вы
        можете связаться с нами:</p>
      <ul>
        <li>
          <p>По электронной почте: shum-politeh@rchuv.ru </p>
        </li>
        <li>
          <p>По номеру телефона: 8 (835) 362-14-21</p>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <div class="footer-block">
      <h5>© SportGearHub — Официальный поставщик оборудования на территории России</h5>
    </div>
    <div class="footer-block">
      <ul>
        <li><a href="#"><u>Политика Конфиденциальности</u></a></li>
        <li><a href="#"><u>Пользовательское соглашение</u></a></li>
      </ul>
    </div>
    <div class="footer-block">
      <a href="https://vk.com"><img src="{% static 'img/vk.png' %}" alt="ВКонтакте"></a>
      <a href="https://web.whatsapp.com/"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
      <a href="http://instagram.com/"><img src="{% static 'img/instagram.png' %}" alt="Intagram"></a>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'itc-slider.js' %}"></script>
  <script src="{% static 'custom.js' %}"></script>
</body>

</html>