<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'custom.css' %}" />
  <link rel="icon" href="{% static 'icon.ico' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" />
  <title>Sport Gear Hub - {{ title }}</title>
</head>

<body>
  <div id="preloader">
    <div class="loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <header>
    <div class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <a href="{% url 'index' %}" class="logo">
      <img src="{% static 'logo/logo-black.png' %}" alt="SportGearHub" /></a>
    <div class="nav-contain">
      <form class="search" action="{% url 'search' %}">
        <input class="search-field" type="text" placeholder="Поиск" name="query"/>
        <button class="search-button" type="submit"></button>
      </form>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li><a href="{% url 'catalog' %}">Каталог</a></li>
          <li><a href="{% url 'aboutus' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="burger-menu">
    <div class="burger-contain">
      <div class="burger-box">
        <ul>
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li><a href="{% url 'catalog' %}">Каталог</a></li>
          <li><a href="{% url 'aboutus' %}">О нас</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
          <li><a href="{% url 'index' %}#objects">Объекты</a></li>
          <li><a href="{% url 'index' %}#manufacturers">Производители</a></li>
          <li><a href="{% url 'help' %}">Помощь</a></li>
        </ul>
      </div>
      <div class="burger-box">
        <div class="contacts-block">
          <h3>Наши контакты:</h3>
          <img src="{% static 'img/telephone.png' %}" alt="Телефон"><span><strong>Телефон:</strong> 8 (835)
            362-14-21</span><br>
          <img src="{% static 'img/mail.png' %}" alt="Почта"><span><strong>E-mail:</strong>
            shum-politeh@rchuv.ru</span><br>
          <img src="{% static 'img/location.png' %}" alt="Адрес"><span><strong>Адрес:</strong> 429120,
            Чувашская Республика
            г. Шумерля ул. Некрасова 62</span><br>
        </div>
        <div class="contacts-button"><a class="contacts-button" href="#" id="openModal">Консультация</a></div>
      </div>
    </div>
  </div>
  <main>
    <div id="modal" class="modal">
      <div class="forma">
        <h2>Окно связи<span class="close">&times;</span></h2>
        <form id="feedback-form">
          {% csrf_token %}
          <div class="form-column">
            <label for="feed">Тип обращения*</label>
            <select id="feed" name="feed">
              <option value="1">Вопрос</option>
              <option value="2">Консультация</option>
              <option value="3">Заказ</option>
              <option value="4">Отзыв</option>
            </select>
          </div>
          <div class="form-column">
            <p>{% if success %}
            <p>{{ message }}</p>
            {% endif %}</p>
          </div>
          <div class="form-column">
            <label for="firstName">Имя*</label>
            <input placeholder="Введите имя" type="text" id="firstName" name="firstName" required />
          </div>
          <div class="form-column">
            <label for="lastName">Фамилия</label>
            <input placeholder="Введите фамилию" type="text" id="lastName" name="lastName" />
          </div>
          <div class="form-column">
            <label for="email">Почта*</label>
            <input placeholder="Введите E-mail" type="email" id="email" name="email" required />
          </div>
          <div class="form-column">
            <label for="phone">Телефон</label>
            <input placeholder="Введите номер телефона" type="tel" id="phone" name="phone" />
          </div>
          <div class="form-column">
            <label for="message">Сообщение*</label>
            <textarea placeholder="Текст" id="message" name="message" required></textarea>
          </div>
          <div class="form-row">
            <input type="checkbox" id="agreement" name="agreement" required />
            <label for="agreement">Я прочитал и принимаю пользовательское соглашение</label>
          </div>
          <div class="form-row">
            <button type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
    <div class="mapbar">
      <section aria-labelledby="catalog-section-title">
        <h2 id="catalog-section-title">{{ title_search }}</h2>
        <p><a href="{% url 'index' %}">Главная</a> - <a href="#">Каталог</a> - <a
            href="{% url 'products' %}">{{ title }}</a></p>
      </section>
    </div>
    <div class="box">
      <div class="products">
        <div class="products-bar">
          <form method="GET" action="{% url 'products' %}">
            <ul>
              <div class="products-bar-column-1">
              <li>{% block sort_a %}{% endblock sort_a %}</li>
              <li>{% block sort_b %}{% endblock sort_b %}</li>
            </div>
            <div class="products-bar-column-2">
              <li>
                <div>
                  <label for="producer">Производитель:</label>
                  <select id="producer" name="producer">
                    <option disabled="disabled" value="">Производитель:</option>
                    {% block producer %}{% endblock producer %}
                  </select>
                </div>
              </li>
              <li>
                <div>
                  <label for="category">Категория:</label>
                  <select id="category" name="category">
                    <option disabled="disabled" value="">Категория:</option>
                    {% block category %}{% endblock category %}
                  </select>
                </div>
              </li>
              <li>
                <div>
                  <label for="material">Материал:</label>
                  <select id="material" name="material">
                    <option disabled="disabled" value="">Материал:</option>
                    {% block material %}{% endblock material %}
                  </select>
                </div>
              </li>
              <li>
                <div>
                  <label for="color">Цвет:</label>
                  <select id="color" name="color">
                    <option disabled="disabled" value="">Цвет:</option>
                    {% block color %}{% endblock color %}
                  </select>
                </div>
              </li>
              </div>
              <li>
                <button type="submit">Найти</button>
              </li>
            </ul>
          </form>
        </div>
        <div class="products-row">
          {% block products %}{% endblock products %}
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-block">
      <h5>© SportGearHub — Официальный поставщик оборудования на территории России</h5>
    </div>
    <div class="footer-block">
      <ul>
        <li><a href="{% url 'privacy' %}"><u>Политика Конфиденциальности</u></a></li>
        <li><a href="{% url 'privacy' %}"><u>Пользовательское соглашение</u></a></li>
      </ul>
    </div>
    <div class="footer-block">
      <a href="https://vk.com"><img src="{% static 'img/vk.png' %}" alt="ВКонтакте"></a>
      <a href="https://web.whatsapp.com/"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
      <a href="http://instagram.com/"><img src="{% static 'img/instagram.png' %}" alt="Intagram"></a>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'itc-slider.js' %}"></script>
  <script src="{% static 'custom.js' %}"></script>
</body>

</html>